.App {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #3498db; 
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #ecf0f1; 
  }
  
  th, td {
    padding: 15px;
    border: 1px solid #bdc3c7; 
  }
  
  th {
    background-color: #3498db; 
    color: white;
  }
  
  td {
    text-align: center;
  }
  
  label {
    margin-right: 10px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #bdc3c7; 
  }
  
  button {
    padding: 15px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    border-radius: 0.5;
    max-width:max-content;
  }
  
  button:hover {
    background-color: #0751b9;
  }
  div {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}
/* body {
  
  height: 100vh;
  margin: 1200;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #74ebd5, #ACB6E5); 
} */