.App {
  /* text-align: center; */
  padding: 20px;
}

h1 {
  color: #3498db; 
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #ecf0f1; 
}

th, td {
  padding: 15px;
  border: 1px solid #bdc3c7; 
}

th {
  background-color: #3498db; 
  color: white;
}

td {
  text-align: center;
}

label {
  margin-right: 10px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #bdc3c7; 
}


form {
  max-width: 400px;
  margin: 0 auto;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.buttons-container{
  margin-top: 10px;
  margin-left: 10px;
}